In [2]:
import pandas as pd
def load_data():
    url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
    html = pd.read_html(url, header=0)
    df = html[0]
    return df

In [3]:
df = load_data()
df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [4]:
sectors_unique = df['GICS Sector'].unique()
sectors_unique

array(['Industrials', 'Health Care', 'Information Technology',
       'Communication Services', 'Consumer Staples', 'Utilities',
       'Financials', 'Materials', 'Real Estate', 'Consumer Discretionary',
       'Energy'], dtype=object)

In [16]:
df_selected_sector = df[ (df['GICS Sector'].isin(sectors_unique))]
df_selected_sector

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [13]:
import yfinance as yf
data = yf.download(
        tickers = list(df_selected_sector[:10].Symbol),
        period = "ytd",
        interval = "1d",
        group_by = 'ticker',
        auto_adjust = True,
        prepost = True,
        threads = True,
        proxy = None
    )

[*********************100%%**********************]  10 of 10 completed

In [14]:
data.head()

                  ADBE                                               \
                  Open        High         Low       Close   Volume
Date
2023-01-03  340.160004  345.820007  331.920013  336.920013  2229100
2023-01-04  342.890015  345.630005  336.730011  341.410004  2186800
2023-01-05  337.529999  337.549988  328.160004  328.440002  2081600
2023-01-06  332.279999  334.880005  322.440002  332.750000  2216600
2023-01-09  338.899994  349.459991  338.420013  341.980011  3133800

                 ATVI                                            ...  \
                 Open       High        Low      Close   Volume  ...
Date                                                             ...
2023-01-03  75.782468  76.108948  75.584606  76.059479  3990300  ...
2023-01-04  76.544255  76.573934  75.673642  76.019905  4825300  ...
2023-01-05  75.782468  76.465106  75.782468  76.138626  3719600  ...
2023-01-06  76.326603  76.880624  76.257350  76.761902  5443900  ...
2023-01-09  76.672869  77.345612  76.356285  76.395859  8414600  ...

                  ABBV                                               \
                  Open        High         Low       Close   Volume
Date
2023-01-03  157.307035  158.258421  156.112966  157.637115  4937500
2023-01-04  157.656515  159.481607  156.792511  158.908844  4440400
2023-01-05  158.326366  159.685483  157.598272  158.714691  3516000
2023-01-06  160.025258  163.199750  159.326287  161.685318  5099100
2023-01-09  161.054303  161.423208  156.180940  156.938156  7833000

                   MMM
                  Open        High         Low       Close   Volume
Date
2023-01-03  116.395598  117.468371  115.294099  117.305542  2612800
2023-01-04  118.148430  120.006624  117.535419  119.872528  2769700
2023-01-05  118.972160  119.316980  117.295956  117.774872  2606600
2023-01-06  119.403183  121.769019  118.531554  121.376312  2417000
2023-01-09  121.644511  124.000781  120.792042  121.443367  2871300

[5 rows x 50 columns]

In [15]:
data[symbol]

NameError: name 'symbol' is not defined

In [9]:
sector = df.groupby('GICS Sector')
print(sector)
sector.get_group("Communication Services")

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f4ea9e69280>

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
5,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,718877,2008
21,GOOGL,Alphabet Inc. (Class A),Communication Services,Interactive Media & Services,"Mountain View, California",2014-04-03,1652044,1998
22,GOOG,Alphabet Inc. (Class C),Communication Services,Interactive Media & Services,"Mountain View, California",2006-04-03,1652044,1998
49,T,AT&T,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30,732717,1983 (1885)
104,CHTR,Charter Communications,Communication Services,Cable & Satellite,"Stamford, Connecticut",2016-09-08,1091667,1993
121,CMCSA,Comcast,Communication Services,Cable & Satellite,"Philadelphia, Pennsylvania",2002-11-19,1166691,1963
151,DIS,Disney,Communication Services,Movies & Entertainment,"Burbank, California",1976-06-30,1744489,1923
168,EA,Electronic Arts,Communication Services,Interactive Home Entertainment,"Redwood City, California",2002-07-22,712515,1982
207,FOXA,Fox Corporation (Class A),Communication Services,Movies & Entertainment,"New York City, New York",2013-07-01,1754301,2019
208,FOX,Fox Corporation (Class B),Communication Services,Movies & Entertainment,"New York City, New York",2015-09-18,1754301,2019
257,IPG,Interpublic Group of Companies (The),Communication Services,Advertising,"New York City, New York",1992-10-01,51644,1961 (1930)
291,LYV,Live Nation Entertainment,Communication Services,Movies & Entertainment,"Beverly Hills, California",2019-12-23,1335258,2010
306,MTCH,Match Group,Communication Services,Interactive Media & Services,"Dallas, Texas",2021-09-20,891103,1986
312,META,Meta Platforms,Communication Services,Interactive Media & Services,"Menlo Park, California",2013-12-23,1326801,2004
334,NFLX,Netflix,Communication Services,Movies & Entertainment,"Los Gatos, California",2010-12-20,1065280,1997
337,NWSA,News Corp (Class A),Communication Services,Publishing,"New York City, New York",2013-08-01,1564708,2013 (1980)
338,NWS,News Corp (Class B),Communication Services,Publishing,"New York City, New York",2015-09-18,1564708,2013 (1980)
355,OMC,Omnicom Group,Communication Services,Advertising,"New York City, New York",1997-12-31,29989,1986
364,PARA,Paramount Global,Communication Services,Movies & Entertainment,"New York City, New York",1994-09-30,813828,2019 (1952)
435,TMUS,T-Mobile US,Communication Services,Wireless Telecommunication Services,"Bellevue, Washington",2019-07-15,1283699,1994
437,TTWO,Take-Two Interactive,Communication Services,Interactive Home Entertainment,"New York City, New York",2018-03-19,946581,1993
471,VZ,Verizon,Communication Services,Integrated Telecommunication Services,"New York City, New York",1983-11-30,732712,1983 (1877)
481,WBD,Warner Bros. Discovery,Communication Services,Broadcasting,"New York City, New York",2022-04-11,1437107,2022

In [6]:
sector.first()

,Symbol,Security,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
GICS Sector,,,,,,,
Communication Services,ATVI,Activision Blizzard,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,718877,2008
Consumer Discretionary,AMZN,Amazon,Broadline Retail,"Seattle, Washington",2005-11-18,1018724,1994
Consumer Staples,ADM,ADM,Agricultural Products & Services,"Chicago, Illinois",1957-03-04,7084,1902
Energy,APA,APA Corporation,Oil & Gas Exploration & Production,"Houston, Texas",1997-07-28,1841666,1954
Financials,AFL,Aflac,Life & Health Insurance,"Columbus, Georgia",1999-05-28,4977,1955
Health Care,ABT,Abbott,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
Industrials,MMM,3M,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
Information Technology,ACN,Accenture,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
Materials,APD,Air Products and Chemicals,Industrial Gases,"Allentown, Pennsylvania",1985-04-30,2969,1940
Real Estate,ARE,Alexandria Real Estate Equities,Office REITs,"Pasadena, California",2017-03-20,1035443,1994
Utilities,AES,AES Corporation,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,874761,1981

In [7]:
sector.describe()

                         CIK                                                   \
                       count          mean            std      min        25%
GICS Sector
Communication Services  23.0  1.131438e+06  500381.710118  29989.0  773272.50
Consumer Discretionary  52.0  8.870308e+05  439652.445639  37996.0  783297.00
Consumer Staples        38.0  4.708499e+05  620106.638889   7084.0   27947.75
Energy                  23.0  8.423255e+05  640873.249366   4447.0   97594.00
Financials              72.0  6.810251e+05  540006.059890   4962.0   73085.75
Health Care             65.0  8.444450e+05  546653.710569   1800.0  313616.00
Industrials             74.0  6.544831e+05  577419.498004   4281.0   76590.50
Information Technology  67.0  9.155848e+05  511999.789800   2488.0  759324.00
Materials               29.0  8.433121e+05  687449.351971   2969.0   73309.00
Real Estate             30.0  9.530729e+05  379707.226998  34903.0  885852.50
Utilities               30.0  8.457124e+05  460276.348204   4904.0  737178.50


                              50%         75%        max
GICS Sector
Communication Services  1166691.0  1564708.00  1754301.0
Consumer Discretionary   918562.5  1133843.50  1590895.0
Consumer Staples          78950.0   929235.25  1944048.0
Energy                  1035002.0  1447738.50  1841666.0
Financials               825514.0  1128969.25  1633917.0
Health Care              885725.0  1110803.00  1932393.0
Industrials              726033.0  1059631.25  1783180.0
Information Technology   896878.0  1334503.00  1730168.0
Materials                916076.0  1396009.00  1755672.0
Real Estate             1027311.5  1069002.75  1705696.0
Utilities                898492.5  1043948.50  1868275.0