In [5]:
selected_year = 2019
url = 'http://www.pro-football-reference.com/years/' + str(selected_year) + '/rushing.htm'

In [6]:
import pandas as pd
html = pd.read_html(url, header=0)
df = html[0]
# df.columns = range(df.shape[1])
# df.drop(df.columns)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Games,Games.1,Rushing,Rushing.1,Rushing.2,Rushing.3,Rushing.4,Rushing.5,Rushing.6,Rushing.7,Unnamed: 15
0,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Succ%,Lng,Y/A,Y/G,Fmb
1,1,Derrick Henry*,TEN,25,RB,15,15,303,1540,16,73,49.2,74,5.1,102.7,5
2,2,Ezekiel Elliott*,DAL,24,RB,16,16,301,1357,12,78,54.8,33,4.5,84.8,3
3,3,Nick Chubb*,CLE,24,RB,16,16,298,1494,8,62,43.6,88,5.0,93.4,3
4,4,Christian McCaffrey*+,CAR,23,RB,16,16,287,1387,15,57,46.3,84,4.8,86.7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,330,Danny Vitale,GNB,26,RB,15,4,1,3,0,0,0.0,3,3.0,0.2,0
342,331,Greg Ward,PHI,24,WR,7,3,1,5,0,0,0.0,5,5.0,0.7,0
343,332,Trevon Wesco,NYJ,24,TE,16,1,1,2,0,1,100.0,2,2.0,0.1,0
344,333,Mike Williams,LAC,25,WR,15,15,1,2,0,0,0.0,2,2.0,0.1,0
345,334,Jarius Wright,CAR,30,WR,16,9,1,-7,0,0,0.0,-7,-7.0,-0.4,0

In [7]:
df.columns = df.iloc[0]
df

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Succ%,Lng,Y/A,Y/G,Fmb
0,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Succ%,Lng,Y/A,Y/G,Fmb
1,1,Derrick Henry*,TEN,25,RB,15,15,303,1540,16,73,49.2,74,5.1,102.7,5
2,2,Ezekiel Elliott*,DAL,24,RB,16,16,301,1357,12,78,54.8,33,4.5,84.8,3
3,3,Nick Chubb*,CLE,24,RB,16,16,298,1494,8,62,43.6,88,5.0,93.4,3
4,4,Christian McCaffrey*+,CAR,23,RB,16,16,287,1387,15,57,46.3,84,4.8,86.7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,330,Danny Vitale,GNB,26,RB,15,4,1,3,0,0,0.0,3,3.0,0.2,0
342,331,Greg Ward,PHI,24,WR,7,3,1,5,0,0,0.0,5,5.0,0.7,0
343,332,Trevon Wesco,NYJ,24,TE,16,1,1,2,0,1,100.0,2,2.0,0.1,0
344,333,Mike Williams,LAC,25,WR,15,15,1,2,0,0,0.0,2,2.0,0.1,0
345,334,Jarius Wright,CAR,30,WR,16,9,1,-7,0,0,0.0,-7,-7.0,-0.4,0

In [8]:
df = df.drop(df[df.Age == 'Age'].index)
df

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Succ%,Lng,Y/A,Y/G,Fmb
1,1,Derrick Henry*,TEN,25,RB,15,15,303,1540,16,73,49.2,74,5.1,102.7,5
2,2,Ezekiel Elliott*,DAL,24,RB,16,16,301,1357,12,78,54.8,33,4.5,84.8,3
3,3,Nick Chubb*,CLE,24,RB,16,16,298,1494,8,62,43.6,88,5.0,93.4,3
4,4,Christian McCaffrey*+,CAR,23,RB,16,16,287,1387,15,57,46.3,84,4.8,86.7,1
5,5,Chris Carson,SEA,25,RB,15,15,278,1230,7,75,53.6,59,4.4,82.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,330,Danny Vitale,GNB,26,RB,15,4,1,3,0,0,0.0,3,3.0,0.2,0
342,331,Greg Ward,PHI,24,WR,7,3,1,5,0,0,0.0,5,5.0,0.7,0
343,332,Trevon Wesco,NYJ,24,TE,16,1,1,2,0,1,100.0,2,2.0,0.1,0
344,333,Mike Williams,LAC,25,WR,15,15,1,2,0,0,0.0,2,2.0,0.1,0
345,334,Jarius Wright,CAR,30,WR,16,9,1,-7,0,0,0.0,-7,-7.0,-0.4,0

In [9]:
df = df.fillna(0)
df

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Succ%,Lng,Y/A,Y/G,Fmb
1,1,Derrick Henry*,TEN,25,RB,15,15,303,1540,16,73,49.2,74,5.1,102.7,5
2,2,Ezekiel Elliott*,DAL,24,RB,16,16,301,1357,12,78,54.8,33,4.5,84.8,3
3,3,Nick Chubb*,CLE,24,RB,16,16,298,1494,8,62,43.6,88,5.0,93.4,3
4,4,Christian McCaffrey*+,CAR,23,RB,16,16,287,1387,15,57,46.3,84,4.8,86.7,1
5,5,Chris Carson,SEA,25,RB,15,15,278,1230,7,75,53.6,59,4.4,82.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,330,Danny Vitale,GNB,26,RB,15,4,1,3,0,0,0.0,3,3.0,0.2,0
342,331,Greg Ward,PHI,24,WR,7,3,1,5,0,0,0.0,5,5.0,0.7,0
343,332,Trevon Wesco,NYJ,24,TE,16,1,1,2,0,1,100.0,2,2.0,0.1,0
344,333,Mike Williams,LAC,25,WR,15,15,1,2,0,0,0.0,2,2.0,0.1,0
345,334,Jarius Wright,CAR,30,WR,16,9,1,-7,0,0,0.0,-7,-7.0,-0.4,0

In [10]:
df.columns
df.reset_index()
df = df.drop(['Rk'], axis=1)

In [11]:
sorted_unique_pos = sorted(df['Pos'].unique())
sorted_unique_pos

['DB', 'FB', 'FS/SS', 'LG', 'P', 'QB', 'RB', 'TE', 'WR']

In [12]:
sorted_unique_teams = sorted(df['Tm'].unique())
sorted_unique_teams

['2TM',
 '3TM',
 'ARI',
 'ATL',
 'BAL',
 'BUF',
 'CAR',
 'CHI',
 'CIN',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GNB',
 'HOU',
 'IND',
 'JAX',
 'KAN',
 'LAC',
 'LAR',
 'MIA',
 'MIN',
 'NOR',
 'NWE',
 'NYG',
 'NYJ',
 'OAK',
 'PHI',
 'PIT',
 'SEA',
 'SFO',
 'TAM',
 'TEN',
 'WAS']

In [13]:
df_selected_team = df[(df.Tm.isin(sorted_unique_teams) & (df.Pos.isin(sorted_unique_pos)))]

In [14]:
df_selected_team

,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Succ%,Lng,Y/A,Y/G,Fmb
1,Derrick Henry*,TEN,25,RB,15,15,303,1540,16,73,49.2,74,5.1,102.7,5
2,Ezekiel Elliott*,DAL,24,RB,16,16,301,1357,12,78,54.8,33,4.5,84.8,3
3,Nick Chubb*,CLE,24,RB,16,16,298,1494,8,62,43.6,88,5.0,93.4,3
4,Christian McCaffrey*+,CAR,23,RB,16,16,287,1387,15,57,46.3,84,4.8,86.7,1
5,Chris Carson,SEA,25,RB,15,15,278,1230,7,75,53.6,59,4.4,82.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,Danny Vitale,GNB,26,RB,15,4,1,3,0,0,0.0,3,3.0,0.2,0
342,Greg Ward,PHI,24,WR,7,3,1,5,0,0,0.0,5,5.0,0.7,0
343,Trevon Wesco,NYJ,24,TE,16,1,1,2,0,1,100.0,2,2.0,0.1,0
344,Mike Williams,LAC,25,WR,15,15,1,2,0,0,0.0,2,2.0,0.1,0
345,Jarius Wright,CAR,30,WR,16,9,1,-7,0,0,0.0,-7,-7.0,-0.4,0

In [19]:
df.dtypes

0
Player    object
Tm        object
Age       object
Pos       object
G         object
GS        object
Att       object
Yds       object
TD        object
1D        object
Succ%     object
Lng       object
Y/A       object
Y/G       object
Fmb       object
dtype: object

In [15]:
output = pd.read_csv('output.csv')
output

,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Succ%,Lng,Y/A,Y/G,Fmb
0,Derrick Henry*,TEN,25,RB,15,15,303,1540,16,73,49.2,74,5.1,102.7,5
1,Ezekiel Elliott*,DAL,24,RB,16,16,301,1357,12,78,54.8,33,4.5,84.8,3
2,Nick Chubb*,CLE,24,RB,16,16,298,1494,8,62,43.6,88,5.0,93.4,3
3,Christian McCaffrey*+,CAR,23,RB,16,16,287,1387,15,57,46.3,84,4.8,86.7,1
4,Chris Carson,SEA,25,RB,15,15,278,1230,7,75,53.6,59,4.4,82.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,Danny Vitale,GNB,26,RB,15,4,1,3,0,0,0.0,3,3.0,0.2,0
330,Greg Ward,PHI,24,WR,7,3,1,5,0,0,0.0,5,5.0,0.7,0
331,Trevon Wesco,NYJ,24,TE,16,1,1,2,0,1,100.0,2,2.0,0.1,0
332,Mike Williams,LAC,25,WR,15,15,1,2,0,0,0.0,2,2.0,0.1,0
333,Jarius Wright,CAR,30,WR,16,9,1,-7,0,0,0.0,-7,-7.0,-0.4,0

In [20]:
output.dtypes

Player     object
Tm         object
Age         int64
Pos        object
G           int64
GS          int64
Att         int64
Yds         int64
TD          int64
1D          int64
Succ%     float64
Lng         int64
Y/A       float64
Y/G       float64
Fmb         int64
dtype: object

In [17]:
corr = output.corr(numeric_only=True)
corr

,Age,G,GS,Att,Yds,TD,1D,Succ%,Lng,Y/A,Y/G,Fmb
Age,1.000000,-0.117241,0.042511,-0.159715,-0.183236,-0.121544,-0.165173,-0.119126,-0.235954,-0.138587,-0.197264,0.056352
G,-0.117241,1.000000,0.482714,0.265024,0.269348,0.242630,0.271406,0.076827,0.261108,0.160364,0.119073,0.181626
GS,0.042511,0.482714,1.000000,0.364507,0.365663,0.373625,0.393797,0.113787,0.208001,0.063971,0.291720,0.452928
Att,-0.159715,0.265024,0.364507,1.000000,0.983413,0.846781,0.968629,-0.000806,0.705857,-0.013746,0.943330,0.207085
Yds,-0.183236,0.269348,0.365663,0.983413,1.000000,0.858232,0.977334,0.033025,0.756242,0.043228,0.960657,0.214523
TD,-0.121544,0.242630,0.373625,0.846781,0.858232,1.000000,0.872238,0.034107,0.629694,0.007876,0.816925,0.267493
1D,-0.165173,0.271406,0.393797,0.968629,0.977334,0.872238,1.000000,0.044107,0.713016,0.021376,0.937535,0.300042
Succ%,-0.119126,0.076827,0.113787,-0.000806,0.033025,0.034107,0.044107,1.000000,0.138489,0.516615,0.052147,0.027675
Lng,-0.235954,0.261108,0.208001,0.705857,0.756242,0.629694,0.713016,0.138489,1.000000,0.371134,0.755027,0.153925
Y/A,-0.138587,0.160364,0.063971,-0.013746,0.043228,0.007876,0.021376,0.516615,0.371134,1.000000,0.049541,-0.023156
Y/G,-0.197264,0.119073,0.291720,0.943330,0.960657,0.816925,0.937535,0.052147,0.755027,0.049541,1.000000,0.184540
Fmb,0.056352,0.181626,0.452928,0.207085,0.214523,0.267493,0.300042,0.027675,0.153925,-0.023156,0.184540,1.000000